body {
    color:white;
    background-color:black;
    margin:0px;
    padding-left:2px;
}

* {
    margin:0px;
    font-size:20px;
    font-weight:normal;
}
h1 {
    border-bottom:1px solid white;
    margin-bottom:10px;
    font-size:25px;
}
.youcantreadthis {
    color:black;
}
